<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

    <context:property-placeholder location="classpath*:dev/redis.properties" ignore-unresolvable="true" />

    <bean id="jedisSentinelTemplate" class="com.cold.tutorial.redis.JedisTemplate">
        <property name="jedisPool" ref="sentinelPool" />
    </bean>

    <bean id="sentinelPool" class="redis.clients.jedis.JedisSentinelPool">

        <constructor-arg index="0" value="mymaster"/>
        <constructor-arg index="1">
            <set>
                <value>10.201.3.28:26379</value>
                <value>10.201.3.28:36379</value>
                <value>10.201.3.24:26379</value>
            </set>
        </constructor-arg>
        <constructor-arg index="2" ref="jedisPoolConfig"/>
        <constructor-arg index="3" value="foobared_newpwdadd_here"/>
    </bean>

    <bean id="jedisTemplate" class="com.cold.tutorial.redis.JedisTemplate">
        <property name="jedisPool" ref="jedisPool" />
    </bean>

    <bean id="jedisPool" class="redis.clients.jedis.JedisPool" destroy-method="destroy">
        <constructor-arg name="poolConfig" ref="jedisPoolConfig" />
        <constructor-arg name="host" value="${redis.host}"/>
        <constructor-arg name="port" value="${redis.port}"/>
        <constructor-arg name="password" value="${redis.password}"/>
        <!-- 连接服务器的超时时间，和执行命令获取数据的时间 timeout-->
        <constructor-arg name="timeout" value="${redis.timeout}"/>
        <!-- redis 数据库索引 默认16个 -->
        <!--<constructor-arg name="database" value="1"/>-->
    </bean>

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="${redis.maxTotal}"></property>
        <property name="maxIdle" value="${redis.maxIdle}" />
        <!-- 从池中获取连接的最大等待时间，可能池子中因为没有连接了而等待 -->
        <property name="maxWaitMillis" value="${redis.maxWait}" />
        <property name="testOnBorrow" value="${redis.testOnBorrow}" />
        <property name="testOnReturn" value="${redis.testOnReturn}" />
    </bean>

    <!--<bean id="shardedJedisTemplate" class="com.cold.tutorial.redis.ShardedJedisTemplate">
        <property name="shardedJedisPool" ref="shardedJedisPool" />
    </bean>

    <bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool" destroy-method="destroy">
        <constructor-arg name="poolConfig" ref="jedisPoolConfig" />
        <constructor-arg name="shards" >
            <list>
                <bean id="server1" class="redis.clients.jedis.JedisShardInfo">
                    <constructor-arg name="host" value="${redis.host}" />
                    <constructor-arg name="port" value="${redis.server1.port}" />
                    <constructor-arg name="timeout" value="${redis.timeout}" />
                    <property name="password" value="${redis.password}" />
                </bean>
                <bean id="server2" class="redis.clients.jedis.JedisShardInfo">
                    <constructor-arg name="host" value="${redis.host}" />
                    <constructor-arg name="port" value="${redis.server2.port}" />
                    <constructor-arg name="timeout" value="${redis.timeout}" />
                    <property name="password" value="${redis.password}" />
                </bean>
                <bean id="server3" class="redis.clients.jedis.JedisShardInfo">
                    <constructor-arg name="host" value="${redis.host}" />
                    <constructor-arg name="port" value="${redis.server3.port}" />
                    <constructor-arg name="timeout" value="${redis.timeout}" />
                    <property name="password" value="${redis.password}" />
                </bean>
            </list>
        </constructor-arg>
    </bean>

    <bean id="jedisCluster" class="redis.clients.jedis.JedisCluster">
        <constructor-arg name="poolConfig" ref="jedisPoolConfig"/>
        <constructor-arg name="timeout" value="${redis.timeout}"/>
        <constructor-arg name="nodes">
            <set>
                <bean id="server1" class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="${redis.host}" />
                    <constructor-arg name="port" value="${redis.server1.port}" />
                </bean>
                <bean id="server2" class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="${redis.host}" />
                    <constructor-arg name="port" value="${redis.server2.port}" />
                </bean>
                <bean id="server3" class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="${redis.host}" />
                    <constructor-arg name="port" value="${redis.server3.port}" />
                </bean>
            </set>
        </constructor-arg>
    </bean>-->

</beans>